[Desktop Entry]
Version=1.0
Type=Application
Name=OpenVAS_gvm
Comment=
Exec=bash path_to_file.sh
Icon=gvm
Path=/home/kali/
Terminal=true
StartupNotify=false
